name: CI

on:
  push:
    branches:
      - master
  pull_request:

env:
  node_version: 14

jobs:
  Test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ env.node_version }}
      - run: yarn install --frozen-lockfile
      - run: yarn run test
        env:
          CF_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_ACCOUNTID }}
  Lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ env.node_version }}
      - run: yarn install --frozen-lockfile
      - run: yarn run lint
      - run: yarn run check
